.side
  .side__contents
    %ul.side__contents_menu
      %li 
        %p マイページ
        = icon("fas", "chevron-right", class: 'icon')
      %li
        %p お知らせ
        = icon("fas", "chevron-right", class: 'icon')
      %li
        %p いいね！一覧
        = icon("fas", "chevron-right", class: 'icon')
      %li
        %p 出品する
        = icon("fas", "chevron-right", class: 'icon')
      %li
        %p 出品一覧 
        = icon("fas", "chevron-right", class: 'icon')
      %li
        %p 購入一覧
        = icon("fas", "chevron-right", class: 'icon')
      %li
        %p お問い合わせ
        = icon("fas", "chevron-right", class: 'icon')
    .side__contents_title
      %p 設定
    %ul.side__contents_setting
      %li
        %p プロフィール
        = icon("fas", "chevron-right", class: 'icon')
      %li
        %p 住所変更
        = icon("fas", "chevron-right", class: 'icon')
      %li
        %p クレジットカード
        = icon("fas", "chevron-right", class: 'icon')
      %li
        %p メール
        = icon("fas", "chevron-right", class: 'icon')
      %li
        %p 本人情報
        = icon("fas", "chevron-right", class: 'icon')
      %li
        %p ログアウト
        = icon("fas", "chevron-right", class: 'icon')