.main
  .main__contents
    .main__contents_myinfo
      .main__contents_myinfo_icon
        -if @user.icon_image.present?
          = image_tag "#{@user.icon_image}"
        - else
          = icon("fas", "user-circle", class: 'icon')
      .main__contents_myinfo_nickname
        = @user.nickname
      %ul.main__contents_myinfo_info
        %li 評価： 0
        = "出品：#{current_user.items.count}"
      .main__contents_myinfo_message
        - if notice == "Signed in successfully."
          %p ログインしました！
        - else
          = "ようこそ、#{@user.nickname}さん"
    .main__contents_myitems
      %p 購入した商品
      .main__contents_myitems_box
        .main__contents_myitems_box_trading
          %p 取引中
          .main__contents_myitems_box_trading_list
            .bought-item_last
              - if @user.items.present?
                .bought-item_last_image
                  = link_to item_path(@user.items.last), method: :get do
                    = image_tag "#{@imagelast.image}", class: 'itemimage_last'
                .bought-item_last_name
                  = @boughtitems.last.name
              - else
                %p 取引はありません
            .bought-item_first
              - if @user.items.count > 1
                .bought-item_first_image
                  = link_to item_path(@imagefirst.item_id) do
                    = image_tag "#{@imagefirst.image}", class: 'itemimage_first'
                .bought-item_first_name
                  = @boughtitems.first.name
        .main__contents_myitems_box_traded
          %p 
          .main__contents_myitems_box_traded_list
            %ul
              %li 
              %li 
