.wrapper
  = render "items/header"
  .mainview
    = render "side"
    .buyitems
      .buyitems__contents
        .buyitems__contents_buyitems
          %p 購入した商品
          .buyitems__contents_buyitems_box
            .buyitems__contents_buyitems_box_trading
              %p 取引中
              .buyitems__contents_buyitems_box_trading_list
                - @boughtitems.each do |boughtitem|
                  = link_to "#{boughtitem.name}", item_path(boughtitem)
  = render "items/footer"