.wrapper
  = render "items/header"
  .mainview
    = render "side"
    .sellitems
      .sellitems__contents
        .sellitems__contents_sellitems
          %p 出品した商品
          .sellitems__contents_sellitems_box
            .sellitems__contents_sellitems_box_sell
              %p 出品中
              .sellitems__contents_sellitems_box_sell_list
                - @sellingitems.each do |sellingitem|
                  = link_to "#{sellingitem.name}", item_path(sellingitem)
            .sellitems__contents_sellitems_box_traded
              %p 売却済み
              .sellitems__contents_sellitems_box_traded_list
                - @solditems.each do |solditem|
                  = link_to "#{solditem.name}", item_path(solditem)
  = render "items/footer"