.top
  = render "items/miniheader"
  .top__middle
    .top__middle__new
      .top__middle__new__title アカウントをお持ちでない方はこちら
      .top__middle__new__box 
        = link_to "新規会員登録", new_user_registration_path

    .top__middle__inner
      .top__middle__inner__box
        .top__middle__inner__box__top 
          = icon('fab', 'facebook-square') 
          .top__middle__inner__box__top__text Facebookでログイン
        .top__middle__inner__box__under 
          = icon('fab', 'google')
          .top__middle__inner__box__under__text Googleでログイン
    .top__middle__center
      %h2.top__middle__center__main 
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .top__middle__center__main__mail
          = f.label :email
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス"
        .top__middle__center__main__pass
          = f.label :password
          %br/
          = f.password_field :password, autocomplete: "current-password", placeholder: "パスワード"
        - if devise_mapping.rememberable?
        .top__middle__center__main__lock
          = f.check_box :remember_me
          = f.label :no_Robot
            .top__middle__center__main__lock__comment
          .top__middle__center__main__lock__small プライバシー-利用規約
        .top__middle__center__main__login
          = f.submit "ログイン"
  = render "items/footer"
