.nologin
  .nologin__main
    .nologin__main__inner
      .nologin__main__inner__icon
        = link_to image_tag "logo/logo.png"
      .nologin__main__inner__key
        %input{placeholder: "キーワードから探す"}
          .nologin__main__inner__key__search
            = link_to image_tag "icon/icon-search 1.png"
    .nologin__main__bottom
      .login__main__bottom__left
        %ul.login__main__bottom__left__ul
          %li.login__main__bottom__left__ul__list1
            = link_to 'カテゴリー', categories_path, id: 'catBtn'
            = render  "items/nav-category", parent: @parents
          %li.nologin__main__bottom__left__ul__list ブランド
      .nologin__main__bottom__right
        %ul.nologin__main__bottom__right__ul
          %li.nologin__main__bottom__right__ul__list 
          = link_to "ログイン", new_user_session_path
          %li.nologin__main__bottom__right__ul__list 
          = link_to "新規登録", new_user_registration_path
