= render "header"
%nav.breadCrumbs
  %ul.path-list
    %li.path-list__1
      = link_to root_path do
        FURIMA
    %li.path-list__2
      %i.fa.fa-angle-right
    %li.path-list__3
      = link_to "#" do
        ベビー・キッズ
    %li.path-list__4
      %i.fa.fa-angle-right
    %li.path-list__5
      = link_to "#" do
        ベビー服(男女兼用)  ~95cm
    %li.path-list__6
      %i.fa.fa-angle-right
    %li.path-list__7
      = link_to "#" do 
        アウター
    %li.path-list__8
      %i.fa.fa-angle-right
    %li.path-list__9
      %p product1
.mainshow
  .showMain
    .content
      .topcontent
        .itemBox
          %h2.itemBox__name
            Product1
          .itemBox__body
            %ul.item-image
              %li.main-image
                = image_tag "pict/curry.png"
              %ul.sub-image 
                %li.sub-image__1
                  = image_tag "pict/currymini.png"
                %li.sub-image__2
                  = image_tag "pict/nasu.png"
                %li.sub-image__3
                  = image_tag "pict/nabe.png"
          .itemBox__price
            %span ¥10000
            .itemBox__price-detail
              %span (税込み)
              %span 送料込み
          .itemDetail
            親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の
            二階から飛び降りて一週間ほど腰を抜かした事がある。なぜそんな無闇をし
            たと聞く人があるかも知れぬ。別段深い理由でもない。新築の二階から首を
            出していたら、同級生の一人が冗談に、いくら威張っても、そこから飛び降
            りる事は出来まい。弱虫やーい。と囃したからである。小使に負ぶさって帰
            って来た時、おやじが大きな眼をして二階ぐらいから飛び降りて腰
          .table
            %table
              %tbody
                %tr
                  %th 出品者
                  %td hoge
                %tr
                  %th カテゴリー
                  %td
                    = link_to("レディース","#") 
                    %br
                    = link_to("トップス","#") 
                    %br
                    = link_to("Tシャツ/カットソー(半袖/袖なし)","#") 
                %tr
                  %th ブランド
                  %td 
                %tr
                  %th 商品のサイズ
                  %td
                %tr
                  %th 商品の状態
                  %td 新品/未使用
                %tr
                  %th 配送料の負担
                  %td 送料込み（出品者負担）
                %tr
                  %th 発送元地域
                  %td 
                    = link_to("青森県","#") 
                %tr
                  %th 発送日の目安
                  %td 1-2日で発送
          .optionalArea
            %ul
              %li#likeBtn.optionalBtn.likeBtn
                %i.fa.fa-star
                お気に入り 0
            %ul.optional
              %li.optionalBtn
                = link_to "#" do
                  %i.fa.fa-flag
                    不適切な商品の通報
        .commentBox
          %ul.commentContents
          %form.new_comment
            %input{type: "text"}
            %p.noticeMsg
              相手のことを考え丁寧なコメントを心がけましょう。
              %br
              不快な言葉遣いなどは利用制限や退会処分となることがあります。
            %br
            %button{name: "button", type: "submit", class: "commentBtn"}
              %i.fa.fa-comment
                コメントする
      %ul.links
        %li
          = link_to "#" do
            %i.fa.fa-angle-left
            %span
              前の商品
        %li
          = link_to "#" do
            %span 後ろの商品
            %i.fa.fa-angle-right
      .relatedItems
        = link_to "#" do
          レディースをもっとみる
      .productlists

   
.main__section5
  .main__section5__center
    %h1.main__section5__center__h1 だれでもかんたん、人生を変えるフリマアプリ
    %p.main__section5__center__p1 
      今すぐ無料ダウンロード
      .main__section5__center__box
        .main__section5__center__box__logo
        .main__section5__center__box__logo1
= render "footer"