= render "items/header"

.categrory__container

  .search__section
    %h2.search__section--title カテゴリー一覧
    %ul.search__section--nav
      - @parents.each do |parent|
        %li.search__section--nav-parent
          = link_to parent.name, "#category-#{parent.id}", id: "scroll"

  .list__section
    .category__box
      - @parents.each do |parent|
        .category__box--title{id: "category-#{parent.id}"}
          %h3.title--name
            = parent.name
        .category__box--inner
          .list__parent-all
            = link_to "すべて", "#", class: "parent--all"
          .list__child
            - parent.children.each do |child|
              .list__child--name
                = child.name
                .list__child--box
                  .list__child--all
                    = link_to "すべて", "#", class: "child--all"
                  .list__grandchild
                    - child.children.each do |grandchild|
                      .list__grandchild--name
                        = link_to "#{grandchild.name}", "#", class: "grandchild--name"
.main__section5
  .main__section5__center
  %h1.main__section5__center__h1 だれでもかんたん、人生を変えるフリマアプリ
  %p.main__section5__center__p1 
    今すぐ無料ダウンロード
    .main__section5__center__box
      .main__section5__center__box__logo
      .main__section5__center__box__logo1
= render "items/footer"

= render "items/shuppin"